<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahta.rastin.broadcastapplicationadmin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".global.G"
        android:allowBackup="true"
        android:icon="@drawable/managemnet"
        android:label="@string/app_name"
        android:roundIcon="@drawable/managemnet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.startup.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.startup.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.post.PostListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.program.ProgramListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.program.EditProgramActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.media.MediaListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.program.NewProgramActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.post.PostContentActivity" />
        <activity android:name=".activity.program.ProgramContentActivity" />
        <activity
            android:name=".activity.message.MessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.UsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.message.NewMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.message.EditMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.post.PostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.program.ProgramActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activity.media.MediaActivity"></activity>
    </application>

</manifest>