<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahta.rastin.broadcastapplicationadmin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".global.G"
        android:allowBackup="true"
        android:icon="@drawable/managemnet"
        android:label="@string/app_name"
        android:roundIcon="@drawable/managemnet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.startup.SplashActivity"
            android:theme="@style/AppTheme.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.main.MainActivity" />
        <activity android:name=".activity.startup.LoginActivity" />
        <activity android:name=".activity.post.PostListActivity" />
        <activity android:name=".activity.media.NewMediaActivity" />
        <activity android:name=".activity.program.ProgramListActivity" />
        <activity android:name=".activity.main.HelpActivity" />
        <activity android:name=".activity.post.NewPostActivity" />
        <activity android:name=".activity.post.EditPostActivity" />
        <activity android:name=".activity.program.EditProgramActivity" />
        <activity android:name=".activity.media.MediaListActivity" />
        <activity android:name=".activity.program.NewProgramActivity" />
        <activity android:name=".activity.media.EditMediaActivity" />
        <activity android:name=".activity.post.PostContentActivity" />
        <activity android:name=".activity.program.ProgramContentActivity" />
        <activity android:name=".activity.message.MessageListActivity" />
        <activity android:name=".activity.main.UsersActivity" />
        <activity android:name=".activity.message.NewMessageActivity" />
        <activity android:name=".activity.message.EditMessageActivity"></activity>
    </application>

</manifest>